/* Box sizing rules */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol,
menu {
  list-style: none;
}
/* Make images easier to work with */
img,
picture {
  /* max-width: 100%; */
  max-inline-size: 100%;
  block-size: auto;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
article,
aside,
details,
figcaption,
figure,
body,
footer,
header,
hgroup,
menu,
nav,
section,
picture,
img {
  display: block;
}
.hidden {
  display: none !important;
}
.full-space {
  inline-size: 100%;
  block-size: 100%;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyeMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyYMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuBWYMZg.ttf) format('truetype');
}
:root {
  --Dark-Blue: hsl(240, 38%, 20%);
  --Grayish-Blue: hsl(240, 18%, 77%);
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  --mobile-button-height: 1.25rem;
  --mobile-button-width: 2.5rem;
  --desktop-button-height: 1.8rem;
  --desktop-button-width: 3.5rem;
}
* {
  outline-width: 1px;
}
html {
  background-color: cadetblue;
  border: none;
  inline-size: 100%;
  block-size: 100%;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html > body {
  background-color: white;
  background-image: url(../images/pattern-bg.svg), url(../images/pattern-quotes.svg), url(../images/pattern-curve.svg);
  background-repeat: no-repeat;
}
@media (max-width: 1440px) {
  html > body {
    border: none;
    inline-size: 12rem;
    block-size: 21rem;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    row-gap: 3rem;
    background-size: 90%, 2rem, 70%;
    background-position: center 1rem, center 60%, left bottom;
  }
}
@media (min-width: 1440px) {
  html > body {
    border: none;
    inline-size: 45rem;
    block-size: 25rem;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    background-size: unset;
    background-position: 90% center, 7rem 7rem, left bottom;
    position: relative;
  }
}
html > body > nav {
  background-color: white;
  border: none;
  inline-size: var(--button-width);
  block-size: var(--button-height);
  border-radius: calc(var(--button-height) / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1440px) {
  html > body > nav {
    --button-width: var(--mobile-button-width);
    --button-height: var(--mobile-button-height);
    position: absolute;
    top: 50%;
  }
}
@media (min-width: 1440px) {
  html > body > nav {
    --button-width: var(--desktop-button-width);
    --button-height: var(--desktop-button-height);
    position: absolute;
    right: 16rem;
    bottom: 3rem;
  }
}
html > body > nav > button {
  border: none;
  inline-size: var(--button-height);
  block-size: var(--button-height);
  border-radius: calc(var(--button-height) / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
}
html > body > nav > #prev-button {
  background-image: url('../images/icon-prev.svg');
}
html > body > nav > #next-button {
  background-image: url('../images/icon-next.svg');
}
html > body > #portrait {
  border-radius: 0.2rem;
  box-shadow: -1rem 2rem 2rem -2rem var(--Dark-Blue);
}
@media (max-width: 1440px) {
  html > body > #portrait {
    inline-size: 8rem;
  }
}
@media (min-width: 1440px) {
  html > body > #portrait {
    inline-size: 17rem;
  }
}
html > body > blockquote {
  color: var(--Dark-Blue);
  display: flex;
  flex-direction: column;
}
@media (max-width: 1440px) {
  html > body > blockquote {
    inline-size: 80%;
    row-gap: 0.5rem;
    font-size: large;
    text-align: center;
    line-height: 0.75rem;
  }
}
@media (min-width: 1440px) {
  html > body > blockquote {
    inline-size: 20rem;
    line-height: 1.35rem;
    text-align: start;
    row-gap: 0.7rem;
  }
}
html > body > blockquote > footer {
  display: flex;
}
@media (max-width: 1440px) {
  html > body > blockquote > footer {
    flex-direction: column;
    font-size: smaller;
  }
}
@media (min-width: 1440px) {
  html > body > blockquote > footer {
    flex-direction: row;
    column-gap: 0.2rem;
    font-size: 0.63rem;
  }
}
html > body > blockquote > footer > #customer-name {
  font-weight: bold;
}
html > body > blockquote > footer > #occupation {
  color: var(--Grayish-Blue);
}
