html {
	box-sizing: border-box;
}
*,
:after,
:before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
menu,
ol,
ul {
	list-style: none;
}
img,
picture {
	max-inline-size: 100%;
	block-size: auto;
}
button,
input,
select,
textarea {
	font: inherit;
	max-inline-size: 100%;
}
article,
aside,
body,
details,
figcaption,
figure,
footer,
header,
hgroup,
img,
menu,
nav,
picture,
section {
	display: block;
}
.hidden {
	display: none !important;
}
.full-space {
	inline-size: 100%;
	block-size: 100%;
}
@font-face {
	font-family: 'DM Serif Display';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/dmserifdisplay/v15/-nFhOHM81r4j6k0gjAW3mujVU2B2G_Vx1w.ttf) format('truetype');
}
@font-face {
	font-family: 'DM Serif Display';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/dmserifdisplay/v15/-nFnOHM81r4j6k0gjAW3mujVU2B2K_c.ttf) format('truetype');
}
@font-face {
	font-family: Karla;
	font-style: italic;
	font-weight: 200;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/karla/v31/qkBKXvYC6trAT7RQNNK2EG7SIwPWMNnCV0lP.ttf) format('truetype');
}
@font-face {
	font-family: Karla;
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/karla/v31/qkBKXvYC6trAT7RQNNK2EG7SIwPWMNkcV0lP.ttf) format('truetype');
}
@font-face {
	font-family: Karla;
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/karla/v31/qkBKXvYC6trAT7RQNNK2EG7SIwPWMNlCV0lP.ttf) format('truetype');
}
@font-face {
	font-family: Karla;
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/karla/v31/qkBKXvYC6trAT7RQNNK2EG7SIwPWMNlwV0lP.ttf) format('truetype');
}
@font-face {
	font-family: Karla;
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/karla/v31/qkBKXvYC6trAT7RQNNK2EG7SIwPWMNmcUElP.ttf) format('truetype');
}
@font-face {
	font-family: Karla;
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/karla/v31/qkBKXvYC6trAT7RQNNK2EG7SIwPWMNmlUElP.ttf) format('truetype');
}
@font-face {
	font-family: Karla;
	font-style: italic;
	font-weight: 800;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/karla/v31/qkBKXvYC6trAT7RQNNK2EG7SIwPWMNnCUElP.ttf) format('truetype');
}
@font-face {
	font-family: Karla;
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/karla/v31/qkBIXvYC6trAT55ZBi1ueQVIjQTDeJqqFA.ttf) format('truetype');
}
@font-face {
	font-family: Karla;
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/karla/v31/qkBIXvYC6trAT55ZBi1ueQVIjQTDppqqFA.ttf) format('truetype');
}
@font-face {
	font-family: Karla;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/karla/v31/qkBIXvYC6trAT55ZBi1ueQVIjQTD-JqqFA.ttf) format('truetype');
}
@font-face {
	font-family: Karla;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/karla/v31/qkBIXvYC6trAT55ZBi1ueQVIjQTDypqqFA.ttf) format('truetype');
}
@font-face {
	font-family: Karla;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/karla/v31/qkBIXvYC6trAT55ZBi1ueQVIjQTDJp2qFA.ttf) format('truetype');
}
@font-face {
	font-family: Karla;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/karla/v31/qkBIXvYC6trAT55ZBi1ueQVIjQTDH52qFA.ttf) format('truetype');
}
@font-face {
	font-family: Karla;
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/karla/v31/qkBIXvYC6trAT55ZBi1ueQVIjQTDeJ2qFA.ttf) format('truetype');
}
:root {
	--Dark-Violet: hsl(256, 26%, 20%);
	--Grayish-Blue: hsl(216, 30%, 68%);
	--Very-Dark-Violet: hsl(270, 9%, 17%);
	--Dark-Grayish-Violet: hsl(273, 4%, 51%);
	--Very-Light-Gray: hsl(0, 0%, 98%);
	--min-screen-width: 375px;
	font-family: Karla, sans-serif;
	--mobile-padding: 1.5rem;
	--desktop-padding: 10rem;
}
:where(h1, h2, h3, h4, h5, h6) {
	font-family: 'DM Serif Display', serif;
	font-weight: 400;
}
img[alt='insure logo'] {
	object-fit: none;
}
* {
	outline-width: 1px;
}
header {
	background-color: #fff;
	inline-size: 100%;
	block-size: 5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
@media (max-width: 90rem) {
	header {
		padding-inline-start: var(--mobile-padding);
		padding-inline-end: var(--mobile-padding);
	}
}
@media (min-width: 90rem) {
	header {
		padding-inline-start: var(--desktop-padding);
		padding-inline-end: var(--desktop-padding);
	}
}
@media (max-width: 90rem) {
	header > .header-desktop-menu {
		display: none;
	}
}
@media (min-width: 90rem) {
	header > .header-desktop-menu {
		display: flex;
		flex-direction: row;
		font-size: 0.85rem;
		font-weight: 700;
		letter-spacing: 0.05rem;
		column-gap: 2em;
		color: var(--Dark-Grayish-Violet);
	}
	header > .header-desktop-menu > li {
		border: none;
		inline-size: auto;
		block-size: auto;
		border-radius: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	header > .header-desktop-menu > li:where(:focus, :hover) {
		cursor: pointer;
		color: #000;
	}
	header > .header-desktop-menu > li:last-of-type {
		color: var(--Dark-Violet);
		border-style: solid;
		border-width: 0.15rem;
		padding: 0.5rem 1.5rem 0.5rem 1.5rem;
	}
	header > .header-desktop-menu > li:last-of-type:where(:focus, :hover) {
		color: #fff;
		background-color: var(--Dark-Violet);
	}
}
@media (max-width: 90rem) {
	header > .hamburger {
		position: absolute;
		top: var(--mobile-padding);
		right: 0;
		display: flex;
		flex-direction: column;
	}
	header > .hamburger > label {
		align-self: flex-end;
		margin-inline-end: var(--mobile-padding);
		inline-size: 2rem;
		block-size: 2rem;
		background-image: url(../images/icon-hamburger.svg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	header > .hamburger > label > input {
		display: none;
	}
	header > .hamburger > label:has(input:checked) {
		background-image: url(../images/icon-close.svg);
	}
	header > .hamburger > label:has(input:checked) + .header-mobile-menu {
		position: absolute;
		top: calc(2 * var(--mobile-padding));
		right: 0;
		z-index: 1;
		inline-size: var(--min-screen-width);
		block-size: 29rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 2rem;
		padding-block-start: 3rem;
		background-color: var(--Dark-Violet);
		background-image: url(../images/bg-pattern-mobile-nav.svg);
		background-repeat: no-repeat;
		background-position: bottom;
		color: #fff;
		font-size: x-large;
	}
	header > .hamburger > label:has(input:checked) + .header-mobile-menu > li:last-of-type {
		border-style: solid;
		border-width: 0.15rem;
		padding: 1rem 6rem 1rem 6rem;
	}
	header > .hamburger > .header-mobile-menu {
		display: none;
	}
}
@media (min-width: 90rem) {
	header > .hamburger {
		display: none;
	}
}
.intro {
	background-color: var(--Dark-Violet);
	inline-size: 100%;
	display: flex;
	position: relative;
}
@media (max-width: 90rem) {
	.intro {
		block-size: 59rem;
		flex-direction: column;
	}
}
@media (min-width: 90rem) {
	.intro {
		block-size: 37.5rem;
		flex-direction: row;
	}
}
@media (max-width: 90rem) {
	.intro > img.family-photo {
		content: url(../images/image-intro-mobile.jpg);
	}
}
@media (min-width: 90rem) {
	.intro > img.family-photo {
		position: absolute;
		content: url(../images/image-intro-desktop.jpg);
		top: calc(2 * var(--desktop-padding) / 3);
		right: var(--desktop-padding);
	}
}
.intro > article {
	color: #fff;
	background-color: inherit;
	display: flex;
	flex-direction: column;
}
@media (max-width: 90rem) {
	.intro > article {
		inline-size: 100%;
		block-size: 31rem;
		margin-block-start: auto;
		align-items: center;
		justify-content: center;
		row-gap: 1.8rem;
		text-align: center;
		padding-inline-start: var(--mobile-padding);
		padding-inline-end: var(--mobile-padding);
	}
}
@media (min-width: 90rem) {
	.intro > article {
		inline-size: 50%;
		block-size: 100%;
		justify-content: center;
		row-gap: 1.8rem;
		padding-inline-start: var(--desktop-padding);
		padding-inline-end: var(--desktop-padding);
	}
}
@media (max-width: 90rem) {
	.intro > article > hr {
		display: none;
	}
}
@media (min-width: 90rem) {
	.intro > article > hr {
		inline-size: 30%;
	}
}
@media (max-width: 90rem) {
	.intro > article > h2 {
		font-size: 2.9rem;
		line-height: 3rem;
	}
}
@media (min-width: 90rem) {
	.intro > article > h2 {
		font-size: 4.5rem;
		line-height: 3.8rem;
	}
}
.intro > article > p {
	line-height: 1.7rem;
}
.intro > article > button {
	border: none;
	inline-size: 9rem;
	block-size: 2.4rem;
	border-radius: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-style: solid;
	background-color: inherit;
	color: inherit;
}
.intro > article > button:where(:focus, :hover) {
	cursor: pointer;
	background-color: #fff;
	color: var(--Dark-Violet);
	font-weight: 700;
}
.intro::after {
	position: absolute;
	right: 0;
}
@media (max-width: 90rem) {
	.intro::after {
		content: url(../images/bg-pattern-intro-right-mobile.svg);
		top: 85%;
	}
}
@media (min-width: 90rem) {
	.intro::after {
		content: url(../images/bg-pattern-intro-right-desktop.svg);
		top: 0;
	}
}
.intro::before {
	position: absolute;
	left: 0;
}
@media (max-width: 90rem) {
	.intro::before {
		content: url(../images/bg-pattern-intro-left-mobile.svg);
		top: 48%;
	}
}
@media (min-width: 90rem) {
	.intro::before {
		content: url(../images/bg-pattern-intro-left-desktop.svg);
		top: 70%;
	}
}
.we-are-different {
	background-color: #fff;
	inline-size: 100%;
	display: flex;
	flex-direction: column;
}
@media (max-width: 90rem) {
	.we-are-different {
		padding-inline-start: var(--mobile-padding);
		padding-inline-end: var(--mobile-padding);
		padding-block-start: calc(5 * var(--mobile-padding));
		padding-block-end: calc(5 * var(--mobile-padding));
		align-items: center;
	}
}
@media (min-width: 90rem) {
	.we-are-different {
		padding-inline-start: var(--desktop-padding);
		padding-inline-end: var(--desktop-padding);
		padding-block-start: calc(2 * var(--desktop-padding));
		padding-block-end: var(--desktop-padding);
	}
}
@media (max-width: 90rem) {
	.we-are-different > hr {
		inline-size: 50%;
	}
}
@media (min-width: 90rem) {
	.we-are-different > hr {
		inline-size: 10rem;
	}
}
@media (max-width: 90rem) {
	.we-are-different h2 {
		margin-block-start: 2rem;
		font-size: 3rem;
	}
}
@media (min-width: 90rem) {
	.we-are-different h2 {
		margin-block-start: 3rem;
		font-size: 4.3rem;
	}
}
.we-are-different .features {
	display: flex;
}
@media (max-width: 90rem) {
	.we-are-different .features {
		margin-block-start: 4rem;
		flex-direction: column;
		row-gap: 3rem;
	}
}
@media (min-width: 90rem) {
	.we-are-different .features {
		margin-block-start: 5rem;
		flex-direction: row;
		column-gap: 2rem;
	}
}
.we-are-different .features > .card {
	display: flex;
	flex-direction: column;
	row-gap: 1.7rem;
}
@media (max-width: 90rem) {
	.we-are-different .features > .card {
		align-items: center;
		text-align: center;
	}
}
.we-are-different .features > .card > img {
	inline-size: 5.3rem;
}
.we-are-different .features > .card > h3 {
	font-size: 1.7rem;
}
.we-are-different .features > .card > p {
	line-height: 1.6rem;
}
.how-we-work {
	color: #fff;
	background-color: var(--Dark-Violet);
	background-repeat: no-repeat;
	background-position: right top;
	display: flex;
	align-items: center;
	margin-block-end: var(--desktop-padding);
}
@media (max-width: 90rem) {
	.how-we-work {
		background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
		inline-size: calc(100% - 2 * var(--mobile-padding));
		block-size: 21.4rem;
		flex-direction: column;
		justify-content: center;
		row-gap: 3rem;
		text-align: center;
	}
}
@media (min-width: 90rem) {
	.how-we-work {
		background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
		inline-size: calc(100% - 2 * var(--desktop-padding));
		block-size: 15.6rem;
		flex-direction: row;
		justify-content: space-around;
	}
}
.how-we-work > h2 {
	line-height: 1em;
}
@media (max-width: 90rem) {
	.how-we-work > h2 {
		inline-size: 90%;
		font-size: 2.5rem;
	}
}
@media (min-width: 90rem) {
	.how-we-work > h2 {
		inline-size: 45%;
		font-size: 3.5rem;
	}
}
.how-we-work > button {
	border: none;
	inline-size: 9rem;
	block-size: 2.4rem;
	border-radius: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-style: solid;
	background-color: inherit;
	color: inherit;
}
.how-we-work > button:where(:focus, :hover) {
	cursor: pointer;
	background-color: #fff;
	color: var(--Dark-Violet);
	font-weight: 700;
}
footer {
	background-color: var(--Very-Light-Gray);
	background-repeat: no-repeat;
	background-position: left top;
	padding-block-end: var(--desktop-padding);
	inline-size: 100%;
	display: flex;
	flex-direction: column;
}
@media (max-width: 90rem) {
	footer {
		background-image: url(../images/bg-pattern-footer-mobile.svg);
		padding-inline-start: var(--mobile-padding);
		padding-inline-end: var(--mobile-padding);
	}
}
@media (min-width: 90rem) {
	footer {
		background-image: url(../images/bg-pattern-footer-desktop.svg);
		padding-inline-start: var(--desktop-padding);
		padding-inline-end: var(--desktop-padding);
	}
}
footer > .footer-social-row {
	margin-block-start: 5rem;
	display: flex;
}
@media (max-width: 90rem) {
	footer > .footer-social-row {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 2rem;
	}
}
@media (min-width: 90rem) {
	footer > .footer-social-row {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}
footer > .footer-social-row > .social-links {
	inline-size: 9rem;
	block-size: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
footer > .footer-social-row > .social-links > a:where(:focus, :hover) > svg > path {
	fill: var(--Dark-Violet);
}
footer > hr {
	margin-block-start: 2rem;
	margin-block-end: 2rem;
	border-color: var(--Dark-Grayish-Violet);
}
footer > .footer-menu {
	display: flex;
}
@media (max-width: 90rem) {
	footer > .footer-menu {
		flex-direction: column;
		align-items: center;
		row-gap: 2rem;
	}
}
@media (min-width: 90rem) {
	footer > .footer-menu {
		flex-direction: row;
	}
}
footer > .footer-menu > .sub-menu {
	font-size: 0.9rem;
}
@media (max-width: 90rem) {
	footer > .footer-menu > .sub-menu {
		text-align: center;
	}
}
@media (min-width: 90rem) {
	footer > .footer-menu > .sub-menu {
		inline-size: 25%;
	}
}
footer > .footer-menu > .sub-menu > h3 {
	margin-block-end: 2rem;
	color: var(--Dark-Grayish-Violet);
	font-family: Karla, sans-serif;
	font-weight: 700;
}
footer > .footer-menu > .sub-menu > ul {
	display: flex;
	flex-direction: column;
	row-gap: 1em;
}
footer > .footer-menu > .sub-menu > ul > li {
	font-weight: 700;
}
footer > .footer-menu > .sub-menu > ul > li:where(:focus, :hover) {
	cursor: pointer;
	text-decoration: underline;
}
html {
	inline-size: 100%;
	block-size: 100%;
	background-color: #5f9ea0;
}
html > body {
	background-color: #fff;
	margin-inline-start: auto;
	margin-inline-end: auto;
	display: flex;
	flex-direction: column;
}
@media (max-width: 90rem) {
	html > body {
		inline-size: var(--min-screen-width);
	}
}
@media (min-width: 90rem) {
	html > body {
		inline-size: 100%;
	}
}
html > body > main {
	inline-size: 100%;
	block-size: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
