@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
	--Light-Cyan: hsl(193, 38%, 86%);
	--Neon-Green: hsl(150, 100%, 66%);
	--Grayish-Blue: hsl(217, 19%, 38%);
	--Dark-Grayish-Blue: hsl(217, 19%, 24%);
	--Dark-Blue: hsl(218, 23%, 16%);

	font-family: 'Manrope', sans-serif;
	font-size: 28px;
}

* {
	outline-width: 1px;
}

.full-space() {
	inline-size: 100%;
	block-size: 100%;
}

.flex-block(@width:auto, @height:auto, @radius:0) {
	border: none;
	inline-size: @width;
	block-size: @height;
	border-radius: @radius;

	display: flex;
	// flex-direction: row;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.circle (@radius, @color) {
	.flex-block(@radius, @radius, @radius);
	background-color: @color;
}

html {
	.flex-block(100%, 100%);
	background-color: var(--Dark-Blue);

	body {
		background-color: var(--Dark-Grayish-Blue);
		color: var(--Light-Cyan);
		.flex-block(auto, auto, 0.5rem);
		justify-content: center;

		row-gap: 1rem;

		position: relative;
		h1 {
			color: var(--Neon-Green);
			font-size: small;
			letter-spacing: 0.1rem;
		}

		blockquote {
			.flex-block(90%);
			text-align: center;
			font-weight: bold;
		}

		button {
			.circle(2.3rem, var(--Neon-Green));
			background-image: url(images/icon-dice.svg);
			background-repeat: no-repeat;
			background-position: center;
			position: absolute;
			bottom: -1rem;
		}

		button:where(:hover, :focus) {
			cursor: pointer;
			box-shadow: 0 0 1rem 0 var(--Neon-Green);
		}
	}
}

// horizontal
@media screen and (min-width: 600px) {
	html {
		body {
			inline-size: 19.3rem;
			block-size: 12rem;

			> img {
				content: url(images/pattern-divider-desktop.svg);
			}
		}
	}
}

// vertical
@media screen and (max-width: 600px) {
	html {
		body {
			inline-size: 12.3rem;
			block-size: 11.3rem;

			> img {
				content: url(images/pattern-divider-mobile.svg);
			}
		}
	}
}
