@import 'reset.css';
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v15/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk59FO_F.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v15/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk6jFO_F.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v15/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk79FO_F.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v15/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk7PFO_F.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v15/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk4jE-_F.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v15/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk4aE-_F.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v15/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk59E-_F.ttf) format('truetype');
}
:root {
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);
  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
  font-family: 'Manrope', sans-serif;
  font-size: 28px;
}
* {
  outline-width: 1px;
}
html {
  border: none;
  inline-size: 100%;
  block-size: 100%;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
  background-color: var(--Dark-Blue);
}
html body {
  background-color: var(--Dark-Grayish-Blue);
  color: var(--Light-Cyan);
  border: none;
  inline-size: auto;
  block-size: auto;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  position: relative;
}
html body h1 {
  color: var(--Neon-Green);
  font-size: small;
  letter-spacing: 0.1rem;
}
html body blockquote {
  border: none;
  inline-size: 90%;
  block-size: auto;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}
html body button {
  border: none;
  inline-size: 2.3rem;
  block-size: 2.3rem;
  border-radius: 2.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Neon-Green);
  background-image: url(images/icon-dice.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: -1rem;
}
@media screen and (min-width: 600px) {
  html body {
    inline-size: 19.3rem;
    block-size: 12rem;
  }
  html body > img {
    content: url(images/pattern-divider-desktop.svg);
  }
}
@media screen and (max-width: 600px) {
  html body {
    inline-size: 12.3rem;
    block-size: 11.3rem;
  }
  html body > img {
    content: url(images/pattern-divider-mobile.svg);
  }
}
