@import '../styles/_reset.scss';
@import '../styles/_helpers.scss';
@import '../styles/_vars';

.question {
	> .question-line {
		// background-color: bisque;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		// mobile
		@media (width < $threshold-width) {
			block-size: 4.5rem;
		}

		// desktop
		@media (width >= $threshold-width) {
			block-size: 5rem;
		}

		> .question-text {
			font-weight: 500;

			// mobile
			@media (width < $threshold-width) {
				font-size: 1rem;
			}

			// desktop
			@media (width >= $threshold-width) {
				font-size: 1.13rem;
			}
		}

		> img {
			inline-size: 1.5rem;
			aspect-ratio: 1;
		}
	}
	> .answer-text {
		// color: var(--dark-purple);
		color: var(--grayish-purple);

		// mobile
		@media (width < $threshold-width) {
			margin-block-end: 1.38rem;
			font-size: 0.9rem;
		}

		// desktop
		@media (width >= $threshold-width) {
			margin-block-end: 1.75rem;
			font-size: 1rem;
		}
	}
}

.question:not(:last-child) {
	border-block-end-style: solid;
	border-width: 2px;
	border-color: var(--light-pink);
}
