/* Box sizing rules */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol,
menu {
  list-style: none;
}
/* Make images easier to work with */
img,
picture {
  /* max-width: 100%; */
  max-inline-size: 100%;
  block-size: auto;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  max-inline-size: 100%;
}
article,
aside,
details,
figcaption,
figure,
body,
footer,
header,
hgroup,
menu,
nav,
section,
picture,
img {
  display: block;
}
.hidden {
  display: none !important;
}
.full-space {
  inline-size: 100%;
  block-size: 100%;
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf');
}
:root {
  --Lime: hsl(61, 70%, 52%);
  --Red: hsl(4, 69%, 50%);
  --White: hsl(0, 0%, 100%);
  --Slate-100: hsl(202, 86%, 94%);
  --Slate-300: hsl(203, 41%, 72%);
  --Slate-500: hsl(200, 26%, 54%);
  --Slate-700: hsl(200, 24%, 40%);
  --Slate-900: hsl(202, 55%, 16%);
  --results-bg-color: #0e2431;
  --input-field-mark-color: var(--Slate-100);
  --input-field-mark-color-active: var(--Lime);
  --input-field-mark-color-invalid: var(--Red);
  --border-radius: 2rem;
  --desktop-padding: 3rem;
  --mobile-padding: 1.5rem;
  --input-field-height: 3rem;
  --input-field-radius: 0.3rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
* {
  outline-width: 1px;
}
.err-msg {
  color: red;
}
fieldset {
  border-style: none;
}
:where(button, input):where(:hover) {
  cursor: pointer;
}
.input-field {
  outline-style: solid;
  block-size: var(--input-field-height);
  border-radius: var(--input-field-radius);
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input-field-bgtext {
  background-color: var(--input-field-mark-color);
  inline-size: max-content;
  block-size: var(--input-field-height);
  border-radius: var(--input-field-radius);
  border-style: none;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  display: flex;
  align-items: center;
}
input[type='number'] {
  inline-size: 100%;
  block-size: var(--input-field-height);
  border-radius: var(--input-field-radius);
  border-style: none;
  padding-inline-start: 1rem;
  font-weight: bold;
}
.input-field-bgtext:has( + input[type='number']:where(:focus)),
input[type='number']:where(:focus) + .input-field-bgtext {
  background-color: var(--input-field-mark-color-active) !important;
}
.input-section {
  display: flex;
  flex-direction: column;
}
@media (max-width: 45.5rem) {
  .input-section {
    inline-size: 100%;
    block-size: 44rem;
    padding: var(--mobile-padding);
  }
}
@media (min-width: 45.5rem) and (max-width: 63rem) {
  .input-section {
    inline-size: 100%;
    block-size: 38rem;
    border-radius: inherit;
    border-end-start-radius: 0;
    border-end-end-radius: 0;
    padding: var(--desktop-padding);
  }
}
@media (min-width: 63rem) {
  .input-section {
    inline-size: 50%;
    block-size: 100%;
    border-radius: inherit;
    border-start-end-radius: 0;
    border-end-end-radius: 0;
    padding: var(--desktop-padding);
  }
}
.input-section > hgroup {
  display: flex;
}
@media (max-width: 45.5rem) {
  .input-section > hgroup {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
@media (min-width: 45.5rem) and (max-width: 63rem) {
  .input-section > hgroup {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 63rem) {
  .input-section > hgroup {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.input-section > hgroup > button[type='reset'] {
  inline-size: max-content;
  block-size: max-content;
  border: none;
  background-color: inherit;
  text-decoration: underline;
}
.input-section > form {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.input-section > form > .amount {
  inline-size: 100%;
  display: flex;
  row-gap: 0.5rem;
  flex-direction: column;
}
.input-section > form > .amount > .input-field > .input-field-bgtext {
  background-color: var(--input-field-mark-color);
  inline-size: max-content;
  block-size: var(--input-field-height);
  border-radius: var(--input-field-radius);
  border-style: none;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  display: flex;
  align-items: center;
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}
.input-section > form > .term-rate {
  display: flex;
}
@media (max-width: 45.5rem) {
  .input-section > form > .term-rate {
    flex-direction: column;
    row-gap: 1rem;
  }
}
@media (min-width: 45.5rem) and (max-width: 63rem) {
  .input-section > form > .term-rate {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 63rem) {
  .input-section > form > .term-rate {
    flex-direction: row;
    justify-content: space-between;
  }
}
.input-section > form > .term-rate > label {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
@media (max-width: 45.5rem) {
  .input-section > form > .term-rate > label {
    inline-size: 100%;
  }
}
@media (min-width: 45.5rem) and (max-width: 63rem) {
  .input-section > form > .term-rate > label {
    inline-size: 48%;
  }
}
@media (min-width: 63rem) {
  .input-section > form > .term-rate > label {
    inline-size: 48%;
  }
}
.input-section > form > .term-rate > label > .input-field > .input-field-bgtext {
  background-color: var(--input-field-mark-color);
  inline-size: max-content;
  block-size: var(--input-field-height);
  border-radius: var(--input-field-radius);
  border-style: none;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  display: flex;
  align-items: center;
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}
.input-section > form > .type {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.input-section > form > .type > legend {
  margin-block-end: 0.5rem;
}
.input-section > form > .type > label {
  outline-style: solid;
  border-radius: var(--input-field-radius);
  border-style: none;
  block-size: var(--input-field-height);
  display: flex;
  align-items: center;
  column-gap: 1rem;
  font-weight: bold;
}
.input-section > form > .type > label > input {
  margin-inline-start: 1rem;
  appearance: none;
  inline-size: 1rem;
  block-size: 1rem;
  border-style: none;
  outline-style: solid;
  outline-color: black;
  border-radius: 50%;
}
.input-section > form > .type > label:has(input:checked) {
  background-color: hsla(61, 70%, 52%, 0.1);
  outline-color: var(--Lime);
}
.input-section > form > .type > label:has(input:checked) > input {
  background-color: var(--Lime);
  border-style: solid;
  border-color: white;
  outline-color: var(--Lime);
}
.input-section > form > .type > label:hover {
  cursor: pointer;
}
.input-section > form > button[type='submit'] {
  background-color: var(--Lime);
  block-size: var(--input-field-height);
  border-radius: calc(0.5 * var(--input-field-height));
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  font-weight: bold;
}
@media (max-width: 45.5rem) {
  .input-section > form > button[type='submit'] {
    inline-size: 100%;
  }
}
@media (min-width: 45.5rem) and (max-width: 63rem) {
  .input-section > form > button[type='submit'] {
    inline-size: 19.6rem;
  }
}
@media (min-width: 63rem) {
  .input-section > form > button[type='submit'] {
    inline-size: 19.6rem;
  }
}
.output-section {
  color: white;
  background-color: var(--Slate-900);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}
@media (max-width: 45.5rem) {
  .output-section {
    inline-size: 100%;
    padding: var(--mobile-padding);
  }
}
@media (min-width: 45.5rem) and (max-width: 63rem) {
  .output-section {
    inline-size: 100%;
    border-radius: inherit;
    border-start-start-radius: 0;
    border-start-end-radius: 0;
    padding: var(--desktop-padding);
  }
}
@media (min-width: 63rem) {
  .output-section {
    inline-size: 50%;
    block-size: 100%;
    border-radius: inherit;
    border-start-start-radius: 0;
    border-end-start-radius: calc(3 * var(--border-radius));
    padding: var(--desktop-padding);
  }
}
.output-section > .output {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.output-section > .output > p {
  color: var(--Slate-300);
  line-height: 1.7rem;
}
.output-section .phase-1 {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.output-section .phase-2 .results {
  color: var(--Slate-300);
  background-color: var(--results-bg-color);
  border-radius: 0.5rem;
  border-block-start-style: solid;
  border-color: var(--Lime);
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  font-size: small;
}
@media (max-width: 45.5rem) {
  .output-section .phase-2 .results {
    padding: calc(var(--mobile-padding) / 2);
  }
}
@media (min-width: 45.5rem) and (max-width: 63rem) {
  .output-section .phase-2 .results {
    padding: calc(var(--desktop-padding) / 2);
  }
}
@media (min-width: 63rem) {
  .output-section .phase-2 .results {
    padding: calc(var(--desktop-padding) / 2);
  }
}
.output-section .phase-2 .results h3 {
  font-weight: 500;
}
.output-section .phase-2 .results > #monthly-repayment {
  color: var(--Lime);
  font-weight: 700;
}
@media (max-width: 45.5rem) {
  .output-section .phase-2 .results > #monthly-repayment {
    font-size: 2.6rem;
  }
}
@media (min-width: 45.5rem) and (max-width: 63rem) {
  .output-section .phase-2 .results > #monthly-repayment {
    font-size: 3.4rem;
  }
}
@media (min-width: 63rem) {
  .output-section .phase-2 .results > #monthly-repayment {
    font-size: 3.4rem;
  }
}
@media (min-width: 45.5rem) and (max-width: 63rem) {
  .output-section .phase-2 .results > hr {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
  }
}
@media (min-width: 63rem) {
  .output-section .phase-2 .results > hr {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
  }
}
.output-section .phase-2 .results > #total-repayment {
  color: white;
  font-size: x-large;
  font-weight: 700;
}
html {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Slate-300);
}
@media (min-width: 63rem) {
  html {
    justify-content: center;
  }
}
html > body {
  background-color: white;
  display: flex;
}
@media (max-width: 45.5rem) {
  html > body {
    flex-direction: column;
    inline-size: 23rem;
  }
}
@media (min-width: 45.5rem) and (max-width: 63rem) {
  html > body {
    border-radius: var(--border-radius);
    flex-direction: column;
    inline-size: 45.5rem;
  }
}
@media (min-width: 63rem) {
  html > body {
    border-radius: var(--border-radius);
    flex-direction: row;
    inline-size: 63rem;
    min-block-size: 38rem;
  }
}
